/*Variables */


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: formula_1;
    src: url(../formula-1/Formula1.otf);
}

@font-face {
    font-family: formula_bold;
    src: url(../F1FontFiles/Formula1-Bold.otf);
    color: white;
}

@font-face {
    font-family: formula_regular;
    src: url(../F1FontFiles/Formula1-Regular.otf);
}

.letrapiola {
    font-family: formula_1;
}

.letracopada {
    font-family: formula_regular;
}

.letracheta {
    font-family: forumula_bold;
}

body {
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #ff0000, #ee5353, #ffffff);
    background: linear-gradient(to right, #ff0000, #ee5353, #ffffff);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header {
    &fondo {
        background: red;
        font-size: larger;
        font-family: formula_bold;
    }

    &div {
        &button {
            &span {
                &boton-chico {
                    display: inline-block;
                    width: 1.5em;
                    height: 1.5em;
                    vertical-align: middle;
                    background-image: var(--bs-navbar-toggler-icon-bg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    background-color: whitesmoke;
                }


            }
        }

        &div {
            &div {

                &p {
                    &cuerpo-texto {
                        color: black;
                        text-align: center;
                        font-size: 150%;
                    }
                }

                &nav-link-prueba {
                    display: block;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: var(--bs-nav-link-font-size);
                    font-weight: var(--bs-nav-link-font-weight);
                    color: white;
                    text-decoration: none;
                    background: none;
                    border: 0;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
                }

                @media (prefers-reduced-motion: reduce) {
                    &nav-link-prueba {
                        transition: none;
                    }
                }

                &nav-link-prueba:hover,
                &nav-link-prueba:focus {
                    color: var(--bs-nav-link-hover-color);
                }

                &nav-link-prueba:focus-visible {
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                }

                &nav-link-prueba.disabled {
                    color: var(--bs-nav-link-disabled-color);
                    pointer-events: none;
                    cursor: default;
                }

            }
        }
    }
}


.main {

    &main-index{    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 2%;}

    &info{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &div {
        &info {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        &div {

            &h1 {
                &h1-texto {
                    color: white;
                    text-align: center;
                    font-size: 300%;
                }
            }

            &h2decorado {
                text-decoration: underline;
                text-align: center;
            }

            &tabla-uno {
                text-align: center;
                max-width: 100%;
                overflow-x: auto;

            }

            &h2 {
                &team-standings {
                    text-decoration: underline;
                    text-align: left;
                }

            }

            &table {
                &tbody {
                    &tr {
                        &prueba {
                            background: linear-gradient(to right, #ff0000, #ee5353, #ffffff);
                            color: black;
                        }

                        &fila {
                            border: 2px solid #0000002d;
                            padding: 8px;
                        }
                    }
                }
            }

            &div {
                &input-group {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }

                &div {
                    &form-txt {
                        margin-bottom: 30px;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                    }

                    &a {
                        color: black;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }

            }
        }
    }

}

.footer {
    text-decoration: none;
    color: red;
    padding-left: 0px;
    padding-right: 0px;

    div {
        background-color: black;
        min-height: 10vh;
        color: red;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &-a {
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: red;
        padding-left: 0px;
        padding-right: 0px;
    }
}


.main div img {
    max-width: 350px;
    max-height: 300px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fffb00;
    border: 2px solid #000000;
    color: #00ff11;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: black;
}
